.bCard {
  text-align: center;
  width: 400px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border-radius: 20px;
  padding: 40px 0 40px 0;

  .lottieAnime {
    object-fit: contain;
    width: 300px;
  }
}
