.bCard {
  text-align: center;
  width: 500px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border-radius: 20px;
  padding: 40px 0 40px 0;

  @media (max-width: 1300px) {
    width: 450px;
  }

  .lottieAnime {
    object-fit: contain;
    width: fit-content;
    margin: auto;
  }
}
