.blueButton {
  button {
    background: linear-gradient(to right, #019eff, #02bfff);
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: 0px 0px 10px 0px rgba(1, 169, 255, 1);
    cursor: pointer;
    transition: all 0.3s ease-in;

    &:hover {
      background: #000;
    }

    .navSignInButtonText {
      .signInLink {
        text-decoration: none;
        color: white;
        font-size: 20px;
      }

      display: flex;
      align-items: center;
      gap: 10px;

      .googleIconAnime {
        object-fit: contain;
        width: 30px;
      }
    }
  }
}

.blueButtonWhite {
  button {
    color: white;
    font-weight: bold;
  }
}
