@import "../../../styleReuse/mixins.module.scss";

.blueButton {
  button {
    @include blueButton();

    .navSignInButtonText {
      .signInLink {
        text-decoration: none;
        color: white;
        font-size: 20px;
      }

      display: flex;
      align-items: center;
      gap: 10px;

      .googleIconAnime {
        object-fit: contain;
        width: 30px;
      }
    }
  }
}

.blueButtonWhite {
  button {
    color: white;
    font-weight: bold;
  }
}
