# providers

NEXTAUTH_SECRET = 
NEXTAUTH_URL = 

# mongoDB connection

MONGO_DB_PASSWORD = CwlHKYvRLHZNtBOX
MONGO_DB_USERNAME = arkalalAi
MONGO_DB_URI = mongodb+srv://arkalalAi:CwlHKYvRLHZNtBOX@cluster0.kcaggb0.mongodb.net/

# openAI Api key

OPEN_AI_API_KEY = 
ORGANIZATION_ID = 

# Stripe payments

STRIPE_API_KEY = sk_test_51NZURkSGlK0lTYcLjP8vkxvIuRfrMeTbGabHh464HfSpV6hEETnl3zhu39KStyQ0YmxkcYpsi4X5q4HIR9mdEhQl00dNL9YKVK
STRIPE_PUBLISHABLE_KEY = pk_test_51NZURkSGlK0lTYcL8919xEFfYeJYhJm55OnAUNnQPuMWI14xy7MnPjqyFfawIEs4wUjf3zbnimlkZT6xa5DBsG4k002lB2G9q7
STRIPE_WEBHOOK_SECRET = 

#Email Reset

SENDGRID_API_KEY = 