@import "../../styleReuse/mixins.module.scss";

.Showcase {
  margin-top: 140px;
  margin-left: 20%;
  margin-bottom: 40px;

  .showcaseDesc {
    width: 80%;
    margin-top: 35px;
    color: gray;
    line-height: 35px;
    font-size: 25px;
  }

  h1 {
    width: 80%;
    font-size: 70px;

    span {
      @include gradientText;
    }
  }
}
