@import "../../styleReuse/mixins.module.scss";

.Showcase {
  margin-top: 140px;
  margin-left: 20%;
  margin-bottom: 40px;

  h1 {
    width: 80%;
    font-size: 70px;

    @media (max-width: 1300px) {
      font-size: 60px;
    }

    span {
      @include gradientText;
    }
  }
}
