@import "../../../../../styleReuse/mixins.module.scss";

.AiChatService {
  @include showScreenCenter();
  padding: 15%;

  @media (max-width: 500px) {
    h2,
    h3 {
      font-size: 15px;
    }
  }

  .aiChatImg {
    object-fit: contain;
    width: 20%;
    height: 20%;

    @media (max-width: 500px) {
      width: 40%;
      height: 40%;
    }
  }
}
