@import "../../../../styleReuse/mixins.module.scss";

.AutoEmail {
  @include showScreenCenter();
  padding: 10%;

  @media (max-width: 600px) {
    h2,
    h3 {
      font-size: 15px;
    }
  }

  .autoEmailImg {
    object-fit: contain;
    width: 20%;
    height: 20%;

    @media (max-width: 600px) {
      width: 40%;
      height: 40%;
    }
  }
}
