@import "../../../../styleReuse/mixins.module.scss";

.SigninPopup {
  @include popupCenter();

  .SigninPopupContent {
    @include popupContent();

    .SigninPopupInteract {
      position: relative;
      text-align: center;
      .userSignIn {
        object-fit: contain;
        width: 200px;
        margin: auto;
      }

      .signInPopupClose {
        object-fit: contain;
        width: 50px;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        position: absolute;
        right: 0px;
      }

      .signInPopupBtn {
        margin-top: 10px;

        button {
          @include popupButton();

          .SignInButtonText {
            display: flex;
            align-items: center;
            gap: 20px;

            .googleIconAnime {
              object-fit: contain;
              width: 40px;
            }
          }
        }
      }
    }
  }
}
