@mixin gradientText() {
  background-image: linear-gradient(to right, #0287d9, #02bfff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@mixin popupCenter() {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
}

@mixin showScreenCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 10%;
  gap: 20px;
}
