.aiChatbox {
  border: 1px solid black;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 18px #b2b8c9, -5px -5px 18px #f0f8ff;
  box-shadow: 5px 5px 18px #b2b8c9, -5px -5px 18px #f0f8ff;
  border: none;
  outline: none;
  background-color: #fff;
  .aiChatboxInterior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

    .chatBoxIcon {
      object-fit: contain;
      width: 40px;
    }

    .chatboxInput {
      flex: 0.9;

      .typewritePlaceHolder {
        width: 100%;
        padding: 5px;
        border: none;
        outline: none;
        font-size: 20px;
        color: gray;
        text-align: left;
      }

      input {
        width: 100%;
        padding: 5px;
        border: none;
        outline: none;
        font-size: 20px;
        caret-color: blue;

        &::placeholder {
          color: gray;
        }
      }
    }
  }
}
