@import "../../styleReuse/mixins.module.scss";

.GenImage {
  margin-top: 30px;

  .chatContainer {
    display: flex;
    flex-direction: column; // Messages appear in order from top to bottom
    align-items: flex-end; // Align items to the end (right side for prompts)
    margin: 20px 0;
    height: 70vh;
    overflow-y: auto;
    gap: 30px;

    @media (width: 540px) {
      height: 65vh;
    }

    @media (max-width: 375px) {
      height: 62vh;
    }

    @media (min-width: 700px) and (max-width: 850px) {
      height: 78vh;
    }

    @media (min-width: 900px) and (max-width: 1030px) {
      height: 82vh;
    }
  }

  .messagePair {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;

    .imageContainer {
      flex-shrink: 0; // Prevents the image from shrinking
      width: 500px;
      height: 500px;
      background-color: #fff;
      margin-top: 60px;
      border-radius: 5px;
      box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.75);

      @media (max-width: 600px) {
        width: 300px; // Maintain the width
        height: 300px; // Maintain the height
      }

      img {
        width: 500px;
        height: 500px;

        @media (max-width: 600px) {
          width: 200px;
          height: 200px;
        }
      }

      .generatingImg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;

        p {
          font-size: 22px;
          font-weight: bold;
          @include gradientText();

          @media (max-width: 600px) {
            font-size: 15px;
            text-align: center;
          }
        }

        .generatingImgIcon {
          object-fit: contain;
          width: 400px;
          height: auto;

          @media (max-width: 600px) {
            width: 250px;
          }
        }
      }
    }

    .userPrompt {
      background-color: #007bff;
      color: white;
      padding: 10px;
      border-radius: 10px;
      margin-left: 10px; // Space between image and prompt
      width: fit-content;
      height: fit-content;
      text-align: left;
      max-width: 80%; // To prevent chat bubbles from stretching full width
      word-wrap: break-word; // To prevent text overflow
      margin-top: 10px;
    }
  }

  .tokenWallet {
    margin-top: 20px;
  }

  form {
    text-align: center;
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    input {
      padding: 10px;
      width: 50%;

      @media (max-width: 600px) {
        width: 80%;
      }
    }
  }
}

@media (max-width: 950px) {
  .GenImage .chatContainer .messagePair {
    flex-direction: column-reverse; // Keep elements in a row for a side-by-side layout
    justify-content: space-between; // Space between the elements
    align-items: flex-start; // Align to the top
  }

  .GenImage .chatContainer .messagePair .userPrompt {
    margin-right: 0; // Reset any right margin
    margin-left: auto; // Auto margin for right alignment
    width: auto; // Adjust width automatically
    max-width: 70%; // Limit width to prevent overstretch
  }

  .GenImage .chatContainer .messagePair .imageContainer {
    margin-right: auto; // Auto margin for left alignment
    margin-top: 30px; // Add a little space at the top
    order: -1; // Ensure image is left-aligned
  }

  .GenImage .chatContainer .messagePair .imageContainer img {
    width: 100%; // Ensure the image is fully responsive within its container
    height: 100%; // Maintain the aspect ratio
  }
}
