.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;

  .logo {
    font-size: 20px;
    font-weight: bold;
    border: 1px dotted #019eff;
    padding: 10px;
    cursor: pointer;
    border-radius: 6px;

    .slayWord {
      color: #000;
    }

    .dot {
      color: #ff8700;
    }
  }
}
