.navbar {
  position: sticky;
  top: 0px;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1;

  .navBarWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 20px 20px;
    padding: 20px 0;

    .signIn {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
