@import "../../../../styleReuse/mixins.module.scss";

.banner {
  margin-top: 80px;

  .bannerStatement {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    span {
      font-size: 22px;
      color: gray;
    }

    button {
      font-size: 22px;
      border: none;
      outline: none;
      background-color: black;
      color: white;
      border-radius: 10px;
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
      padding: 8px;
    }
  }

  .bannerIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-top: 60px;

    .bannerTitle {
      width: 60%;
      height: 250px;
    }

    .bannerCard {
      display: flex;
      margin-top: 40px;
      width: 80%;
      gap: 180px;

      .bannerCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .smallBannerCards {
          margin-bottom: 100px;

          // &:nth-child(2) {
          //   margin-left: 150px;
          // }
        }
      }

      .bannerServices {
        display: flex;
        flex-direction: column;
        align-items: center;

        .serviceTopics {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 10px;
          margin-bottom: 60px;

          h1 {
            @include gradientText;
          }

          p {
            color: gray;
            line-height: 30px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
