.customerChatbot {
  .chatBubble {
    position: fixed;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: linear-gradient(to right, #019eff, #02bfff);
    box-shadow: 0px 0px 10px 0px rgba(1, 169, 255, 1);
    bottom: 40px;
    right: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.2s ease-in-out;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;

    &:hover {
      background: #019eff;
    }

    @media (max-width: 600px) {
      height: 50px;
      width: 50px;
    }
  }

  .closeAssistant {
    opacity: 0;
    transform: translateY(50px);
  }

  .ChatAssistants {
    position: fixed;
    bottom: 120px;
    right: 20px;
    width: 350px;
    background: white;
    box-shadow: -1px 0px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;

    @media (max-width: 600px) {
      width: 300px;
      height: 400px;
      bottom: 110px;
    }

    .chatHistory {
      height: 500px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      padding: 10px;
      gap: 10px;
      overflow-x: hidden;

      .chatQuery {
        display: flex;
        flex-direction: column; // Stack the user and AI text blocks vertically
        gap: 8px; // Adjust gap to your preference

        .userText,
        .aiText {
          max-width: 80%; // To prevent chat bubbles from stretching full width
          word-wrap: break-word; // To prevent text overflow
        }

        .userText {
          align-self: flex-end;
          background-color: #007bff; // Or your preferred color for user message
          color: white;
          border-radius: 16px;
          padding: 8px 12px;
          margin-bottom: 4px;
          width: fit-content;
          margin-top: 15px;
          margin-left: 60px;

          p {
            line-height: 25px;
          }
        }

        .aiText {
          align-self: flex-start;
          background-color: #f1f0f0; // Or your preferred color for assistant message
          border-radius: 16px;
          padding: 8px 12px;
          margin-top: 15px;
          width: fit-content;
          margin-right: 60px;

          p {
            line-height: 25px;
          }
        }
      }

      .typing {
        align-self: flex-start;
        background-color: #dddddd; // Or your preferred color for typing indicator
        color: black;
        border-radius: 16px;
        padding: 8px 12px;
        margin-bottom: 4px;
        max-width: 70%;
        margin-top: 15px;
      }
    }

    .chatForm {
      border-top: 1px solid #ccc;
      padding: 10px;
      background: #f8f9fa;
      display: flex;

      input[type="text"] {
        width: calc(100% - 40px); // input width minus button width
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 16px;
        margin-right: 8px;
        font-size: 17px;
      }

      button {
        padding: 8px 12px;
        background: linear-gradient(to right, #019eff, #02bfff);
        color: white;
        border: none;
        border-radius: 16px;
        cursor: pointer;

        &:hover {
          background-color: darken(#007bff, 10%);
        }
      }
    }
  }
}
