.AIChat {
  .chatBox {
    width: 60%;
    margin: auto;
    padding-top: 2%;
  }

  .AiChats {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
    margin: 40px auto 0 auto;
    height: 520px;
    overflow-y: scroll;
    padding: 20px;

    .loaderAI {
      object-fit: contain;
      width: 140px;
      margin: 0 auto;
    }

    .chatConverseAnime {
      object-fit: contain;
      width: 300px;
      margin: auto;
    }

    .AiConverseUser {
      background-color: lightgray;
      padding: 10px;
      border-radius: 10px;
      border: none;
      outline: none;
      line-height: 35px;
      width: fit-content;
      -webkit-box-shadow: 5px 5px 18px #b2b8c9, -5px -5px 18px #f0f8ff;
      box-shadow: 5px 5px 18px #b2b8c9, -5px -5px 18px #f0f8ff;
    }

    .AiConverseMachine {
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      line-height: 30px;
      width: fit-content;
      -webkit-box-shadow: 5px 5px 18px #b2b8c9, -5px -5px 18px #f0f8ff;
      box-shadow: 5px 5px 18px #b2b8c9, -5px -5px 18px #f0f8ff;
    }
  }
}
